* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
}

.calculator {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 255px;
    left: 40%;
    text-align: center;
    background-color: #000000;
    padding: 40px 0;
    border-radius: 10px;
}

/* img {
    width: 100vw;
    height: 150%;
    position: fixed;
    top: 0;
} */

input[type="text"] {
    width: 300px;
    height: 80px;
    position: absolute;
    left: 40%;
    top: 165px;
    font-size: 40px;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 10px;
    background: #000000;
    color: #FFFFFF;
}

button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin: 6px;
    border-radius: 5px;
    border: none;
    background-color: #BDBDBD;
    cursor: pointer;
}

button:hover {
    background-color: #DDD;
    /* transition: 0.25s ease-in-out; */
}

button:active {
    transform: scale(0.95);
}

.red {
    background-color: #FF4A4A;
}

.red:hover {
    background-color: rgb(231, 83, 83);
}

.orange {
    background-color: orange;
}

.orange:hover {
    background-color: rgb(226 179 90);
}

@media screen and (max-width: 768px) {
    .calculator {
        width: 70vw;
        height: 44vh;
        position: absolute;
        left: 65px;
        top: 315px;
    }

    #result {
        width: 70vw;
        height: 100px;
        position: absolute;
        left: 65px;
        top: 200px;
    }

    input {
        width: 70vw;
        height: 100px;
        position: absolute;
        left: 65px;
        top: 200px;
    }

    .red {
        color: #000000;
    }

    .orange {
        color: #000000;
    }

    /* img {
        height: 100%;
        width: 100%;
    } */
}